.wrapperLinkButton{
    width: 32%;
    height: 65px;
}

.linkButton{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 2em;
    border: 2px solid white;
    text-decoration: none;
    transition: .4s;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 1em;
}

.linkButton:hover{
    background-color: white;
    color: black;
}

@media screen and (max-width: 720px) {
    .maxWidth{
        width: 100%;
    }    
}